* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-page-background: #000000;
    --color-text: #ffe600;
    --color-link: #ff0000;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--color-page-background);
    display: flex;
}
@font-face {
    font-family:'OBT';
    src: url('../DGX-YE.github.io/font/OBT.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family:'zh-CN';
    src: url('../DGX-YE.github.io/font/zh-CN.ttf') format('truetype');
    font-weight: bold;
}
h1 {
    color: #333;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
.logo {
    width: 100px;
    height: auto;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}
footer .logo {
    width: 50px;
    height: auto;
}
